node_modules/
.env
.env.local
.env.*.local
dist/
.next/
out/
build/
.expo/
android/
ios/
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
*.log
npm-debug.log*
coverage/
*.tgz
.turbo
dump.rdb
.vercel
.env*.local
